/* Body */
body {
    font-family: 'Montserrat', sans-serif;
    color: white;
    background-image: linear-gradient(60deg, #3d3393 0%, #2b76b9 37%, #2cacd1 65%, #35eb93 100%);
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
  margin-bottom: 10px;
}

main {
    margin: auto;
    width: 50%;
    padding: 10px;
  }


/* Navigation */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: white;
    /* background-color: #333; */
  }
  
nav li{
    float: left;
  }

nav ul {
    display: flex;
    justify-content: space-between;
}
  
nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
nav li a:hover {
    background-color: #111;
    color: white;
    border-radius: 10px;
  }
/* End Navigation */



/* Answers button section*/
.choice-text {
  padding: 10px;
  margin-top: 25px;
  border-radius: 25px;
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
}

.choice-text:hover {
  background-color: #35eb93;
  color: white;
  box-shadow: 0 0 5px #000000;
}



/* Button on quiz */
#questionButton {
    width: 100px;
    height: 25px;
    border-radius: 20px;
    background-color: #2cacd1;
    color: white;
    margin-top: 25px;
}

#questionButton:hover {
    background-color: #3282b8;
    color: white;
}

#resetButton {
  flex-wrap: nowrap;
  width: 100px;
  height: 25px;
  border-radius: 20px;
  background-color: #2cacd1;
  color: white;
  margin-top: 25px;
}

#resetButton:hover {
  background-color: #3282b8;
  color: white;
}

a {
  text-decoration: none;
  color: white;
}





footer {
    height: 50px;
    margin: auto;
    padding-top: 30px;
    width: 100%;
    /* border: 1px solid red; */
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
}